@using ShopM4_Utility;
@model ShopM4_Models.ViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<form method="post" asp-action="DetailsPost" class="col-5">
    <p>
        <input asp-for="Product.Id" hidden/>
    </p>
    <p>
        <h2>@Model.Product.Name</h2>
        <h2>@Model.Product.Price</h2>
    </p>

    <p >
        <img src="@PathManager.ImageProductPath@Model.Product.Image" class="col-12" />
    </p>


    <p>Category: @Model.Product.Category.Name</p>
    <p>
        Description:
        <input type="text" style="background-color:white"  class="form-control " value="@Model.Product.Description" disabled/>
    </p>
    @if(User.IsInRole(ShopM4_Utility.PathManager.AdminRole))
    {
        <p style="display: flex; width:30%; flex-direction: row">
            @if(Model.IsInCart)
            {
                <input class="form-control"  asp-for="@Model.Product.TempCount" disabled/>
            }
            else
            {
                <div style="display: flex; width:30%; flex-direction: column">
                    <input class="form-control" id="co" asp-for="@Model.Product.TempCount" value="@Model.Product.TempCount"/>
                    <span asp-validation-for="@Model.Product.TempCount" class="text-danger"></span>
                </div>
                <p/>
                 <div style="display: flex;width:30%;justify-content:space-around">
                    <a  class="btn btn-danger" onclick="Dis()"> <i class="fa-solid fa-square-minus"></i></a>
                    <a  class="btn btn-success" onclick="Add()" ><i class="fa-solid fa-square-plus"></i></a>
                </div>
            }
           
        </p>
    }
    <p>
        <a class="btn btn-primary" asp-action="Index">Back</a>

        @if(Model.IsInCart)
        {
            <button class="btn btn-warning" asp-controller="Home" asp-action="RemoveFromCart" 
                asp-route-id="@Model.Product.Id">Remove from Cart</button>
        }
        else
        {
           <button type="submit" asp-controller="Home" asp-action="DetailsPost"
                asp-route-Id="@Model.Product.Id" class="btn btn-warning">Add to car</button>
        }
    </p>
    
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
        }
}
<script>
    
    function Add(){
        if(Number(document.getElementById('co').value)<0)
            document.getElementById('co').value=0;
        if(Number(document.getElementById('co').value)>99)
            document.getElementById('co').value=99;
        document.getElementById('co').value=Number(document.getElementById('co').value)+1;
    }
    function Dis(){
        if(Number(document.getElementById('co').value)>1)
            document.getElementById('co').value=Number(document.getElementById('co').value)-1;
        if(Number(document.getElementById('co').value)>99)
            document.getElementById('co').value=100;
        else if(Number(document.getElementById('co').value)<1)
            document.getElementById('co').value=1;
    }
</script>